<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.system.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.system.entity.SysLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="operater_date" property="operaterDate" />
        <result column="operater_type" property="operaterType" />
        <result column="log_type" property="logType" />
        <result column="module" property="module" />
        <result column="url" property="url" />
        <result column="description" property="description" />
    </resultMap>

</mapper>
